@import '~assets/sass/utils/styleSheetVariables';

/* FORMS */

/*doc
---
title: 1. Header nav
name: 1. Header nav
category: nav
---
```html_example
<div style="width: 100%; height: 65px; position: relative">
    <div class="headerNav">
        <div class="headerNav-burgerMenu">
            <div class="burgerContainer">
                <span class="bar-1"></span>
                <span class="bar-2"></span>
                <span class="bar-3"></span>
                <span class="bar-4"></span>
            </div>
            <span class="headerNav-burgerMenuText fc-primary-primary weight-medium size-medium">Menu</span>
        </div>
        <div class="headerNav-logoContainer">
            <a href="#" class="logo">
                <img src="img/Logos/01-img-01-logo-short.png">
            </a>
        </div>
        <div class="headerNav-userNav">
            <div class="headerNav-cartContainer">
                <i class="icon-e-commande size-veryLarge fc-primary-primary"></i>
            </div>
            <div class="headerNav-userMenu collapsed">
                <span class="portrait size-medium weight-light fc-white red">LD</span>
                <span class="userDropdown userAccount">
                    <p class="weight-medium size-medium">Lou Druet</p>
                    <p class="weight-light size-medium">Exploitation ABC</p>
                </span>

                <div class="headerNav-userMenuDropdown">
                    <ul class="headerNav-userMenuDropdown-actions">
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-identifiant size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mon profil</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-maj size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mises à jour</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-durabilite size-medium mr-10"></i>
                            <p class="size-medium weight-light">Durabilité</p>
                        </li>
                    </ul>
                    <ul class="headerNav-userMenuDropdown-accounts">
                        <li class="headerNav-userMenu">
                            <span class="portrait size-medium weight-light fc-white green">LD</span>
                            <span class="userAccount">
                                <p class="weight-medium size-medium">Lou Druet</p>
                                <p class="weight-light size-medium">Exploitation DEF</p>
                            </span>
                        </li>
                    </ul>
                    <div class="headerNav-userMenuDropdown-logOut">
                        <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                        <p class="size-medium weight-medium fc-secondary-primary">Déconnexion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


```
*/

/*doc
---
title: 2. Header nav with dropdown
name: 2. Header nav with dropdown
category: nav
---
```html_example
<div style="width: 100%; height: 65px; position: relative">
    <div class="headerNav">
        <div class="headerNav-burgerMenu">
            <div class="burgerContainer">
                <span class="bar-1"></span>
                <span class="bar-2"></span>
                <span class="bar-3"></span>
                <span class="bar-4"></span>
            </div>
            <span class="headerNav-burgerMenuText fc-primary-primary weight-medium size-medium">Menu</span>
        </div>
        <div class="headerNav-logoContainer">
            <a href="#" class="logo">
                <img src="img/Logos/01-img-01-logo-short.png">
            </a>
        </div>
        <div class="headerNav-userNav">
            <div class="headerNav-cartContainer">
                <i class="icon-e-commande size-veryLarge fc-primary-primary"></i>
            </div>
            <div class="headerNav-userMenu">
                <span class="portrait size-medium weight-light fc-white red">LD</span>
                <span class="userDropdown userAccount">
                    <p class="weight-medium size-medium">Lou Druet</p>
                    <p class="weight-light size-medium">Exploitation ABC</p>
                </span>

                <div class="headerNav-userMenuDropdown">
                    <ul class="headerNav-userMenuDropdown-actions">
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-identifiant size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mon profil</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-maj size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mises à jour</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-durabilite size-medium mr-10"></i>
                            <p class="size-medium weight-light">Durabilité</p>
                        </li>
                    </ul>
                    <ul class="headerNav-userMenuDropdown-accounts">
                        <li class="headerNav-userMenu">
                            <span class="portrait size-medium weight-light fc-white green" >LD</span>
                            <span class="userAccount">
                                <p class="weight-medium size-medium">Lou Druet</p>
                                <p class="weight-light size-medium">Exploitation DEF</p>
                            </span>
                        </li>
                    </ul>
                    <div class="headerNav-userMenuDropdown-logOut">
                        <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                        <p class="size-medium weight-medium fc-secondary-primary">Déconnexion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

```
*/

/*doc
---
title: 3. Header nav opened
name: 3. Header nav opened
category: nav
---
```html_example
<div style="width: 100%; height: 65px; position: relative">
    <div class="headerNav">
        <div class="headerNav-burgerMenu opened">
            <div class="burgerContainer">
                <span class="bar-1"></span>
                <span class="bar-2"></span>
                <span class="bar-3"></span>
                <span class="bar-4"></span>
            </div>
            <span class="headerNav-burgerMenuText fc-primary-primary weight-medium size-medium">Menu</span>
        </div>
        <div class="headerNav-logoContainer">
            <a href="#" class="logo">
                <img src="img/Logos/01-img-01-logo-short.png">
            </a>
        </div>
        <div class="headerNav-userNav">
            <div class="headerNav-cartContainer">
                <i class="icon-e-commande size-veryLarge fc-primary-primary"></i>
            </div>
            <div class="headerNav-userMenu collapsed">
                <span class="portrait size-medium weight-light fc-white red">LD</span>
                <span class="userDropdown userAccount">
                    <p class="weight-medium size-medium">Lou Druet</p>
                    <p class="weight-light size-medium">Exploitation ABC</p>
                </span>

                <div class="headerNav-userMenuDropdown">
                    <ul class="headerNav-userMenuDropdown-actions">
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-identifiant size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mon profil</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-maj size-medium mr-10"></i>
                            <p class="size-medium weight-light">Mises à jour</p>
                        </li>
                        <li class="headerNav-userMenuDropdown-action">
                            <i class="icon-short-durabilite size-medium mr-10"></i>
                            <p class="size-medium weight-light">Durabilité</p>
                        </li>
                    </ul>
                    <ul class="headerNav-userMenuDropdown-accounts">
                        <li class="headerNav-userMenu">
                            <span class="portrait size-medium weight-light fc-white green">LD</span>
                            <span class="userAccount">
                                <p class="weight-medium size-medium">Lou Druet</p>
                                <p class="weight-light size-medium">Exploitation DEF</p>
                            </span>
                        </li>
                    </ul>
                    <div class="headerNav-userMenuDropdown-logOut">
                        <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                        <p class="size-medium weight-medium fc-secondary-primary">Déconnexion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


```
*/

.submenu {
  position: absolute;
  z-index: 15;
  border: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');
  background: #FFF;
  bottom: -120px;
  left: -25px;
  right: -55px;
  padding: 10px;

  ul li {
    margin-bottom: 10px;
  }
}


.burgerContainer {
  flex: 0 1 auto;
  position: relative;
  width: 24px;
  height: 19px;
  display: block;

  %bar {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background-color:  #000;
    @extend %animateAll;
  }

  .bar-1 {
    @extend %bar;
    top: 0;
    left: 0;
  }
  .bar-2,
  .bar-3 {
    @extend %bar;
    top: 8px;
    left: 0;
  }

  .bar-4 {
    @extend %bar;
    width: 16px;
    bottom: 0;
    left: 0;
  }

  &.active {

    %bar {
      background-color:  #93070a;
    }

  }
}

.headerNav {
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');

  &-burgerMenu {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');
    padding: 10px 16px 19px;
    width: 56px;
    cursor: pointer;
    overflow: hidden;
    @extend %animateAll;
    transition-delay: 0.3s;
    background-color: $white;

    .menu-txt {
      position: absolute;
      bottom: 2px;
      left: 13px;
      font-size: 12px;
    }

    &Text {
      opacity: 0;
      margin-left: 15px;
      @extend %animateAll;
      transition-delay: 0.3s;
    }


    &:hover {
      background-color: map_get(map_get($colors, 'pale-grey'), 'primary');
    }

    &.opened {
      width: 250px;

      .menu-txt {
        display: none;
      }

      .headerNav-burgerMenuText {
        opacity: 1;
      }

      .burgerContainer {
        .bar-1,
        .bar-4 {
          opacity: 0;
        }
        .bar-2 {
          transform: rotate(45deg);
        }
        .bar-3 {
          transform: rotate(-45deg);
        }
      }

      @media (max-width: 768px) {
        z-index: 10;
        box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.65);
      }
    }
  }

  &-logoContainer {
    flex: 1 0 auto;
    border-right: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');
    height: 64px;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .logo {
      display: block;
      width: auto;
      height: 54px;
      @media (min-width: 768px) {
        margin-right: 50px;
      }

      img {
        display: block;
        height: 54px;
      }
    }
  }

  &-userNav {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 64px;
    min-width: 325px;

    div:hover {
      background-color: map_get(map_get($colors, 'pale-grey'), 'primary');
    }

    @media (max-width: 768px) {
      min-width: unset;
    }
  }

  &-cartContainer {
    flex: 0 1 auto;
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');
    cursor: pointer;
    position: relative;

    .cart-count {
      position: absolute;
      bottom: 2px;
      right: 4px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: solid 1px map-get(map-get($colors, 'squash'), 'primary');
      font-size: 1rem;
      background-color: map_get(map_get($colors, 'primary'), 'primary');
      color: map-get(map-get($colors, 'squash'), 'primary');

      &:hover {
        background-color: map_get(map_get($colors, 'primary'), 'primary');
      }
    }
  }

  &-userMenu {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    position: relative;
    background-color: $white;
    border-bottom: 1px solid map_get(map_get($colors, 'grey-2'), 'primary');
    width: 100%;

    .portrait {
      flex: 0 0 auto;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &.red {
        background-color: map_get(map_get($colors, 'primary'), 'primary');
      }

      &.green {
        background-color: map_get(map_get($colors, 'secondary'), 'primary');
      }
    }

    .userAccount {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      padding-right: 60px;
    }

    .userDropdown:after {
      font-family: icomoon;
      content: '\e90d';
      color: $black;
      font-size: $tiny;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 15px;
      @extend %animateAll;
    }

    &.collapsed {
      .headerNav-userMenuDropdown {
        left: 150%;
      }

      .userDropdown:after {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    &Dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      min-width: 300px;
      box-shadow: -8px 8px 16px -5px rgba(229, 235, 255, 0.9);
      @extend %animateAll;
      z-index: 100;

      &-actions {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px 0;
        background-color: map_get(map_get($colors, 'pale-grey'), 'primary');
      }

      &-action {
        flex: 0 1 auto;
        width: 100%;
        padding: 8px 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        @extend %animatedForward;

        &:hover {
          background-color: map_get(map_get($colors, 'pale-grey'), 'dark');
        }
      }

      &-accounts {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        li:hover {
          background-color: map_get(map_get($colors, 'pale-grey'), 'primary');
        }
      }

      &-logOut {
        padding: 16px;
        background-color: $white;
        width: 100%;

        &:hover {
          background-color: map_get(map_get($colors, 'pale-grey'), 'primary');
        }
      }

      @media (max-width: 768px) {
        left: -224px;
      }
    }
  }
}
