/* LOGIN LAYOUT */

/*doc
---
title: 1. Login container
name: 1. LoginCOntainer
category: Login Layout
---
```html_example
<div style="width: 100%; height: 100vh; position: relative">
    <div class="loginScreen" style="background-image: url(images/login_bg.png)">
        <div class="loginScreen-header">
            <div class="loginScreen-logoContainer">
                <img src="images/Logos/01-img-01-logo-default.png">
            </div>
        </div>
        <div class="loginScreen-body">

        </div>
        <div class="loginScreen-footer">
            <p class="size-small weight-light fc-brownish-grey-primary mr-30">Certifications</p>
            <img class="mr-30" src="https://placekitten.com/25/25">
            <img src="https://placekitten.com/25/25">
        </div>
    </div>
</div>
```
*/

.loginScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #003366;

  &-header {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   //background-color:#003366;
    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }

  &-footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    //background-color:#003366;

    @media (max-width: 768px) {
      position: relative;
    }
  }
}
