@import '~assets/sass/utils/styleSheetVariables';

/* FORMS */

/*doc
---
title: Article card
name: article-list
category: article
---
```html_example
<div style="width: 100%; position: relative; background-color:#f6f7fb">

      <div class="grid grid-4 grid-gap-16">
        <div class="cardArticle ">
            <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
            <div class="cardArticle-infos">
                <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
                <a href="#" class="cardArticle-infos-link">
                  <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                  <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
                </a>
            </div>
        </div>
      </div>
</div>

```
*/

/*doc
---
title: Article list row
name: article-list-row
category: article
---
```html_example
<div style="width: 100%; position: relative; background-color:#f6f7fb">

      <div class="grid grid-4 grid-gap-16">
        <div class="cardArticle ">
            <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
            <div class="cardArticle-infos">
                <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
            </div>
        </div>
        <div class="cardArticle ">
            <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
            <div class="cardArticle-infos">
                <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
            </div>
        </div>
        <div class="cardArticle ">
            <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
            <div class="cardArticle-infos">
                <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
            </div>
        </div>
        <div class="cardArticle ">
            <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
            <div class="cardArticle-infos">
                <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
              <a href="#" class="cardArticle-infos-link">
                <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
            </div>
        </div>
      </div>


</div>


```
*/

/*doc
---
title: Article list layout
name: article-list-layout
category: article
---
```html_example
Le widget Meteo doit etre positioné en troisiéme position obligatoirement

<div  style="width: 100%; padding:50px;position: relative ;background-color:#f6f7fb">

   <div class="grid grid-4 grid-gap-16">

      <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
              <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
          </div>
      </div>
       <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
              <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
          </div>
      </div>
     <div class="cardArticle--large ">
        Meteo
      </div>
    </div>

       <div class="grid grid-4 grid-gap-16 mt-15 mt-15Mobile">
      <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
              <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
              <a href="#" class="cardArticle-infos-link">
                <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
              </a>
          </div>
      </div>
       <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
              <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
              <a href="#" class="cardArticle-infos-link">
                <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
                <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
              </a>
            </div>
      </div>
       <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
            <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
          </div>
      </div>
      <div class="card cardArticle ">
          <img class="cardArticle-img" src="https://i.picsum.photos/id/1/300/200.jpg" />
          <div class="cardArticle-infos">
              <p class="cardArticle-infos-text">Levée des mesures de restrictions concernant les produits agricoles suite incident Lubrizol</p>
            <a href="#" class="cardArticle-infos-link">
              <i class="fc-squash-primary icon-short-arrow-next mr-10"></i>
              <p class="size-medium weight-medium fc-secondary-primary">Voir l'article</p>
            </a>
          </div>
      </div>
    </div>
</div>

```
*/

.cardArticle {
  position: relative;
  background-color: white;
  box-shadow: 0 8px 16px -5px rgba(229, 235, 255, 0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    grid-column: 1;
    order: 2;
  }

  &--large {
    background-color: white;
    box-shadow: 0 8px 16px -5px rgba(229, 235, 255, 0.9);
    border-radius: 5px;
    grid-column: 3/5;

    @media (max-width: 768px) {
      grid-column: 1;
    }
  }
  &-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    height: 150px;
    width: 100%;
  }

  &-weatherBlock {
    background-color: white;
    box-shadow: 0 8px 16px -5px rgba(229, 235, 255, 0.9);
    border-radius: 5px;
    grid-column: 3/5;

    @media (max-width: 768px) {
      grid-column: 1;
      order: 1;
    }
  }

  &-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    min-height: 160px;

    &-text {
      line-height: $veryLarge !important;
      font-weight: $light;
      color: $black;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-link {
      justify-content: flex-start;
      display: flex;
      flex: initial !important;
      align-items: center;
      font-weight: $mediumW;
      @extend %animatedForward;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      i {
        color: map_get(map_get($colors, 'deep-orange'), 'primary');
        margin-right: 10px;
      }

      color: map_get(map_get($colors, 'secondary'), 'primary');
      &:hover {
        font-weight: $mediumW;
      }
    }
  }
}
